[Unit]
Description=GEN WAF control plane
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=genwaf
Group=genwaf
PermissionsStartOnly=true
EnvironmentFile=/etc/genwaf/genwaf.env
WorkingDirectory=/var/lib/genwaf
ExecStartPre=/usr/bin/bash -lc '/usr/bin/fuser -k 90/tcp >/dev/null 2>&1 || true'
ExecStart=/opt/genwaf/bin/genctl serve -config ${GENWAF_CONFIG} -listen ${GENWAF_ADMIN_LISTEN}
Restart=on-failure
RestartSec=2
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
